body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url(login.jpg);
    justify-content: space-between;
  }
  .centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: rgb(132, 108, 108);
    border-radius: 10px;
    border-color: black;
    justify-content: space-between;
  }
  
  .centre h1{
    text-align: center;
    padding: 0 0 20px 0;
    
  }
  .centre image{
    position: relative;
    padding: 0 0 20px 0;
  }
  .centre form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  div.Username_field{
  margin-left: 10%;
    position: relative;
    margin-bottom: 20px;
    height: 40px;
  }
  div.password_field{
  margin-left: 10%;
    margin-bottom: 5px;
    height: 40px;
  }
  .forgetpasword{
  margin-left: 10%;
    margin-bottom: 5px;
  }
  .centre .signup_link{
    color: red;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px 2px;
    text-align: center;
  }
  .login_btn{
    color: red;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px 26px;
    display: flex;
  }
  a{
    margin-left: 25%;
  }
  a.signup{
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .forsignup{
    padding-left: 10%;
  }
  .forlogin{
    padding-left: 25%;
  }
  button.signup_link{
    padding-left: 5px;
  }
  div.submitbtn{
    padding-left: 25%;
  }